@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

:root {
    --d: #1c1917;
    --dd: #292524;
    --w: #fffdfc;
    --r: #dc2626;
    --b: #2563eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--d);
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 3rem;
    opacity: 0;
}

header::after {
    position: absolute;
    content: "Tic Tac Toe";
    color: var(--dd);
    z-index: -1;
    font-weight: 600;
    font-size: 5rem;
    transform: translateX(50px);
    opacity: 0.3;
}

header span {
    transform: translateY(-20px);
}

.tic, .tac, .toe {
    padding: 5px;
    border-radius: 5px;
}

.tic{
    color: var(--r);
}
.tac{
    color: var(--b);
}
.toe{
    color: var(--w);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    opacity: 0;
    color: var(--w);
}

footer .footerIcons {
    display: flex;
    gap: 30px;
}

footer .copy {
    font-size: 0.8rem;
    position: relative;
}

footer .copy::after {
    position: absolute;
    content: "Copyright &copy";
    color: var(--dd);
    z-index: -1;
    font-weight: 600;
    font-size: 1rem;
    transform: translate(-40px, -60px);
    opacity: 0.4;
}

footer .copy::before {
    position: absolute;
    content: "viraldL 2022";
    color: var(--dd);
    z-index: -1;
    font-weight: 600;
    font-size: 1rem;
    transform: translate(50px, -20px);
    opacity: 0.4;
}

footer .footerIcons span a img {
    width: 30px;
}

footer .footerIcons span a img:hover {
    transform: scale(1.1);
}



.boardOn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chooseModeOn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20%;
    gap: 10px;
}

.namePlayersOn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.twoPlayerBtn, .botGameBtn {
    position: relative;
    transition: all 0.5s ease-out;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: inset 22px 16px 68px -35px rgba(0, 0, 0, 0.966);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--w);
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 0.1em;
    transform: scale(0);
    flex-shrink: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
}

.twoPlayerBtn:hover, .botGameBtn:hover {
    transform: translateY(-10px);
}

.twoPlayerBtn {
    background-color: var(--r);
}

.twoPlayerBtn::before {
    content: "";
    position: absolute;
    background-image: url(icons/309035_user_account_human_person_icon.svg);
    width: 100%;
    height: 50%;
    background-repeat: repeat-x;
    z-index: -1;
    opacity: 0.1;
}

.botGameBtn {
    background-color: var(--b);
}

.botGameBtn::before {
    content: "";
    position: absolute;
    background-image: url(icons/309035_user_account_human_person_icon.svg);
    background-size: 50%;
    background-position: left;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}

.botGameBtn::after {
    content: "";
    position: absolute;
    background-image: url(icons/9055088_bxs_bot_icon.svg);
    background-size: 45%;
    background-position: right;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}

.formBox {
    width: 500px;
    height: 300px;
    transform: scale(0);
}

.playerForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.playerForm input[type="submit"] {
    border: none;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.playerForm input[type="submit"]:hover {
    padding: 5px 15px;
}

.divPlayer1, .divPlayer2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 45%;
    box-shadow: inset 22px 16px 68px -35px rgba(0, 0, 0, 0.658);
    overflow: hidden;
}

.divPlayer1::before {
    content: "X";
    position: absolute;
    top: -90px;
    left: -30px;
    font-weight: 800;
    font-size: 15rem;
    opacity: 0.1;
}

.divPlayer2::after {
    content: "O";
    position: absolute;
    top: -90px;
    right: -30px;
    font-weight: 800;
    font-size: 15rem;
    opacity: 0.1;
}

.inputPlayer {
    border: none;
    border-radius: 20px;
    padding: 2px 5px;
    outline: none;
    transition: all 0.5s ease-out;
}

.inputPlayer:focus { 
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.233);;
}

.divPlayer1 span, .divPlayer2 span {
    color: var(--w);
    font-weight: 500;
    font-size: 1.2rem;
}

.divPlayer1 {
    background-color: var(--r);
    border-radius: 10px 10px 0 0;
}


.divPlayer2 {
    background-color: var(--b);
    border-radius: 0 0 10px 10px;
}

main {
    width: 100%;
    height: calc(100% - 175px);
}

.player1Box, .player2Box {
    transform: scale(0);
    position: relative;
    width: fit-content;
    padding: 0 50px;
    height: 150px;
    color: var(--w);
    border-radius: 10px;
    box-shadow: 0px 0px 68px rgba(0, 0, 0, 0.219);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 800;
    font-size: 1.5rem;
}

.player1Box {
    background-color: var(--r);
}

.player1Box::after {
    content: "";
    position: absolute;
    background-image: url(icons/309035_user_account_human_person_icon.svg);
    background-size: 90%;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}

.player2Box::after {
    content: "";
    position: absolute;
    background-image: url(icons/309035_user_account_human_person_icon.svg);
    background-size: 90%;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}

.player2Box {
    background-color: var(--b);
}

.boardBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.turnText {
    color: var(--w);
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.board {
    width: 400px;
    height: 400px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: scale(0);
}

.board .field {
    position: relative;
    background-color: var(--dd);
    border-radius: 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 800;
}

.board .field .x {
    color: var(--r);
    text-shadow: 0 5px 30px #dc26268a;
}
.board .field .o {
    color: var(--b);
    text-shadow: 0 5px 30px #2563eb8a;
}

.turnX {
    color: var(--r);
    text-shadow: 0 5px 30px #dc26268a;
    margin-right: 7px;
}

.turnO {
    color: var(--b);
    text-shadow: 0 5px 30px #2563eb8a;
    margin-right: 7px;
}

.board .field:hover {
    transform: scale(1.05);
}

.restartBtn {
    margin-top: 20px;
    width: 75px;
    height: 40px;
    background-color: var(--w);
    color: var(--d);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.205);
    transform: scale(0);
}

.restartBtn:hover {
    width: 80px;
}

.restartBtnLight {
    transform: scale(1.1) !important;
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0.205) !important;
}

.backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transform: scale(0);
} 

.backBtn img {
    width: 30px;
}

.backBtn:hover {
    opacity: 0.5;
}

.backBtn p {
    color: var(--w);
    font-weight: 200;
    font-size: 0.7rem;
}

.show {
    transition: all 1s ease-out;
    opacity: 1;
}

.show2 {
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: scale(1);
}

.slideLeft {
    transform: scale(0) translateX(-350px);
}

.slideRight {
    transform: scale(0) translateX(350px);
}

.hide {
    opacity: 0;
}

.hide2 {
    transform: scale(0);
}

.turn {
    box-shadow: 0px 0px 100px rgba(129, 104, 104, 0.411);;
}